@charset "UTF-8";

/* フォームレイアウト */
#register_form, #newlogin_form, #login_form{
    display:flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    margin: 10px auto;
}

.register_form textarea{
    resize: none;
}

#form_submit{
    width: 100px;
    margin-right: 0;
    margin-left: auto;
}

