@charset "UTF-8";

.register_form{
    display:flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    margin: 10px auto;
}

#form_submit{
    width: 100px;
    margin-right: 0;
    margin-left: auto;
}