@charset "UTF-8";

/* ヘッダー関連 */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #cddded;

    padding: 30px 40px;
}

.logo a{
    text-decoration: none;
    color:black;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;   
}

nav li a{
    text-decoration: none;
    color: black;
}

/* 全体のレイアウト */
.container{
    margin: 0 15vw;
}
